<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://cdnjs.cloudflare.com; script-src 'self' https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

        {{#each styles}}
            <link rel="stylesheet" href={{this}} />
        {{/each}}

        {{#each scripts}}
            <script src={{this}} type="module"></script>
        {{/each}}

        <title>{{titre}}</title>
    </head>
    <body>
        <header class="main-header">
            <div class="header-container">
                <a href="/" class="logo">Planify</a>
                <nav class="main-nav">
                    <a href="/" class="nav-link">Accueil</a>
                    <a href="/board" class="nav-link">Tableau des Tâches</a>
                </nav>
                <div class="auth-buttons">
                    {{#if user}}
                        <span class="user-email">{{user.email}}</span>
                        <a href="/deconnexion" class="btn-deconnexion">Déconnexion</a>
                    {{else}}
                        <a href="/connexion" class="btn-connexion">Connexion</a>
                        <a href="/inscription" class="btn-inscription">Inscription</a>
                    {{/if}}
                </div>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>&copy; Fatima ezzahra El kanouni</footer>
    </body>
</html>